<div class="new-container">
  <div class="new-art-title">
    <h1>New art</h1>
  </div>
  <div class="nav-bar">
    <%= render 'devise/shared/navbar' %>
  </div>
  <div class="new-art-container">
    <div class="new-render-form">
      <%= render "form", art: @art %>
    </div>
  </div>
  <!--
  <div class="text-center mt-3">
    <%= link_to "Back to arts", arts_path, class: "btn new-back-button" %>
  </div>
  -->
</div>
